<%- include('../partials/header') %>
<h1><%=title%></h1>
  <p>This are the projects</p>
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>    
<p>Clever content goes here</p>
<%- include('../partials/footer') %>
